@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
}

.card-bg {
  background-image: url("/images/bg-main-mobile.png");
  background-size: cover;
  background-position: center;
}

.card {
  width: 18rem;
}

@media (width >= 64rem) {
  .card-bg {
    background-image: url("/images/bg-main-desktop.png");
    background-size: cover;
    background-position: center;
  }

  .card {
    width: 80%;
  }
}

label,
.tank-u {
  font-weight: 600;
  color: hsl(278, 68%, 11%);
}

section > input[type="number"],
section > input[type="text"],
div > input {
  margin-top: 8px;
  border: 1px solid hsl(270, 3%, 87%);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  color: black;
  cursor: pointer;
}

section > input[type="number"]::placeholder,
section > input[type="text"]::placeholder,
div > input::placeholder {
  color: hsl(212, 12%, 71%);
}

section > input[type="number"]:focus,
section > input[type="text"]:focus,
div > input:focus {
  outline: none;
  border: 2px solid hsl(278, 68%, 11%);
}

/* bg-[hsl(278,68%,11%)] text-white py-3 w-full rounded-md text-lg */

button {
  background-color: hsl(278, 68%, 11%);
  color: white;
  padding: 0.75rem;
  width: 100%;
  border-radius: 6px;
  font-size: 1rem;
}

.fade {
  opacity: 0;
  display: none;
  transition: opacity 2s, display 1s allow-discrete;
}

.show {
  opacity: 1;
  display: flex;
  transition: opacity 3s, display 2s;
}

@starting-style {
  .show {
    opacity: 0;
  }
}
